@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --clr: #222327;
    --backcolor: #7D7C7A;
    --navbarclr: #5B5B5B;
    --testclr: #f00;
}
.test
{
    height: 1000px;
    width: 70%;
    background-color: #E0D9D9;
    text-align: center;
    z-index: 4;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 10;
}
.titre
{
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    text-align: center;
    box-shadow: 0px 1px 50px 1px;
    opacity: 100%;
    z-index: 5;
}
.navigation
{
    width: 400px;
    height: 70px;
    background: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid var(--navbarclr);
    border-radius: 10px;
    bottom: 0;
    margin-bottom: 3%;
    z-index: 5;
}
.navigation ul
{
    display: flex;
    width: 350px;
}
.navigation ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigation ul li.active a .icon
{
    transform: translateY(-32px);
}
.navigation ul li a .texte
{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li.active a .texte
{
    opacity: 1;
    transform: translateY(10px);
}
.indicator
{
    position: absolute;
    top: -65%;
    width: 70px;
    height: 70px;
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid var(--navbarclr);
    transition: 0.5s;
}
.indicator::before
{
    content: '';
    position: absolute;
    top: 54%;
    left:  -22px;
    width: 20px;
    height: 19px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 2px -6px 0 0 var(--navbarclr);
}
.indicator::after
{
    content: '';
    position: absolute;
    top: 54%;
    right:  -22px;
    width: 20px;
    height: 19px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -2px -6px 0 0 var(--navbarclr);
}


/*animation de trasition*/

.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
}